beautifulsoup4==4.12.3
docarray==0.40.0
langchain==0.3.0
langchain-community==0.3.0
langchain-openai==0.2.0
langchain-pinecone==0.2.0
langchainhub==0.1.21
pinecone==5.3.1
pinecone-notebooks==0.1.1
streamlit==1.38.0
streamlit-extras==0.4.7
