h1 {
    font-style: italic;
    font-size: 4rem;
    background: linear-gradient(45deg, #f0f, #0bf, #ff0, #f0f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    margin-bottom: 20px;
}

.st-emotion-cache-janbn0 {
    flex-direction: row-reverse;
    text-align: left;
    align-self: flex-end;
    width: 85%;
}

.st-emotion-cache-4oy321 {
    align-self: flex-start;
    width: 100%;
}

.st-emotion-cache-1c7y2kd {
    flex-direction: row-reverse;
    text-align: left;
    align-self: flex-end;
    max-width: 85%;
}
